@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
    position: relative;

}
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 125px;
    margin-top: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    transition: 2000ms ease-in-out;
  }
  
  .dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu li {
    padding: 5px;
  }
  
  .dropdown-menu li:hover {
    background-color: #ddd;
    transition: opacity 2000ms ease-in-out;

  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .dropdown {
      display: block;
      margin-bottom: 10px;
    }
  
    .dropdown-toggle {
      width: 100%;
      text-align: left;
    }
  
    .dropdown-menu {
      position: static;
      display: block;
      box-shadow: none;
    }
  }
  