@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
    position: relative;
    transition: all .2s ease-in-out;
    transition-property: visibility,transform,opacity;
}
  .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    min-width : 60px;
    margin-top : 2px;
    box-shadow : 0 2px 5px rgba(0, 0, 0, 0.2);
}
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  
  .dropdown-menu ul {
    list-style-type: none;
    padding : 0;
    margin : 0;
  }
  
  .dropdown-menu li {
    padding: 5px;
  }
  
  .dropdown-menu li:hover {
    background-color: #ddd;
    transition: opacity 2000ms ease-in-out;

  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
  
    .dropdown-toggle {
      width: 100%;
      text-align: left;
    }
  
    .dropdown-menu {
      position: absolute;
      display: block;
      box-shadow: none;
    }

  }

  .table-p{
    padding: 1.5rem !important;
  }
   
  .active{
    color : #ff6f61
  }